<!DOCTYPE html>
<head>
    <title>{{ hostname }} Check Report</title>
    <style type="text/css">
    h1 {
        font-size: 200%;
        text-align: center;
        color: green;
        }
    h2 {
        font-size: 150%;
        color: blue;
        }
    h3 {
        font-size: 100%;
        color: #CC33FF;
        }
    p {font-size: 100%}
    body {  
        margin: 0 auto;
        width: 756px;
        height: 1086px;
        }
    </style>
</head>
    <body>
        <style tpye="info/css">
        .infotable{
            width:400px;
            height:100px;
        }
        </style>
        <h1>AIX System Health Check Report</h1>
            <p align="center">Host Name:{{ hostname }}</p>
        <h2>System Information</h2>
            <p>The system information is follow:</p>
        <table class="infotable" border="1">
            {% for item in items %}
            <tr>
                <td>{{ loop.index }}</td>
                <td align="left">{{ item['title'] }}</td>
                <td align="left">{{ item['value'] }}</td>
            </tr>
            {% endfor %}
        </table>
        <h2>System Error Check</h2> 
            <h3>System Hardware Error Event</h3> 
                {% for hwerr in hwerr_result %}
                    <p>{{ hwerr }}</p>
                {% endfor %}
            <h3>System Software Error Event</h2> 
                {% for swerr in swerr_result %}
                    <p>{{ swerr }}</p>
                {% endfor %}
            <h3>System Errlogger Event</h2> 
                {% for loggererr in loggererr_result %}
                    <p>{{ loggererr }}</p>
                {% endfor %}
            <h3>System Unknown Error Event</h2> 
                {% for unknownerr in unknownerr_result %}
                    <p>{{ unknownerr }}</p>
                {% endfor %}
        <h2>System Performance Check</h2>
            <h3>CPU Performance</h3>
            <p>The CPU Performance information is follow:</p>
            <table border="1" width="650">
                <tr>
                    <th align="center">Item</th>
                    <th align="center">Max(%)</th>
                    <th align="center">Min(%)</th>
                    <th align="center">Avg(%)</th>
                    <th align="center">State Analysis</th>
                </tr>
                {% for item in cpuperf_list %}
                <tr>
                    <td align="center">{{ item['name'] }}</td>
                    <td align="center">{{ item['max'] }}</td>
                    <td align="center">{{ item['min'] }}</td>
                    <td align="center">{{ item['avg'] }}</td>
                    <td align="left">{{ item['state'] }}</td>
                </tr>
                {% endfor %}
            </table>
            <h3>Memory And PageSpace Check</h3>
            <p>The Memory And PageSpace information is follow:</p>
            <table class="infotable" border="1" >
                <tr>
                    <th align="center">Item</th>
                    <th align="center">Size</th>
                    <th align="center">Inuse</th>
                    <th align="center">Used</th>
                    <th align="center">Active</th>
                    <th align="center">Auto</th>
                </tr>
                {% for item in mem_ps_list %}
                <tr>
                    <td align="center">{{ item['name'] }}</td>
                    <td align="center">{{ item['size'] }}</td>
                    <td align="center">{{ item['inuse'] }}</td>
                    <td align="center">{{ item['used'] }}</td>
                    <td align="center">{{ item['active'] }}</td>
                    <td align="center">{{ item['auto'] }}</td>
                </tr>
                {% endfor %}
            </table>
                {% for item in mem_description %}
                <p>{{ item }}</p>
                {% endfor %}
            <h3>System Disk Performance Data</h3>
            <p>The disk performance data is follow:</p>
            <table border="1" width="650" >
                <tr>
                    <th rowspan="2">Disk</th>
                    <th colspan="2">tm_act(%)</th>
                    <th colspan="2">kbps</th>
                    <th colspan="2">tps</th>
                    <th colspan="2">Kb_read</th>
                    <th colspan="2">Kb_wrtn</th>
                </tr>
                <tr>
                    <th>Max</th>
                    <th>Avg</th>
                    <th>Max</th>
                    <th>Avg</th>
                    <th>Max</th>
                    <th>Avg</th>
                    <th>Max</th>
                    <th>Avg</th>
                    <th>Max</th>
                    <th>Avg</th>
                </tr>
                {% for item in all_disk_iostat %}
                <tr>
                    <td align="center">{{ item['disk'] }}</td>
                    <td align="center">{{ item['max_tm_act'] }}</td>
                    <td align="center">{{ item['avg_tm_act'] }}</td>
                    <td align="center">{{ item['max_kbps'] }}</td>
                    <td align="center">{{ item['avg_kbps'] }}</td>
                    <td align="center">{{ item['max_tps'] }}</td>
                    <td align="center">{{ item['avg_tps'] }}</td>
                    <td align="center">{{ item['max_Kb_read'] }}</td>
                    <td align="center">{{ item['avg_Kb_read'] }}</td>
                    <td align="center">{{ item['max_Kb_wrtn'] }}</td>
                    <td align="center">{{ item['avg_Kb_wrtn'] }}</td>
                </tr>
                {% endfor %}
            </table>
            <h3>System Adapter Performance Data</h3>
            <p>The adapter performance data is follow:</p>
            <table border="1" width="650" >
                <tr>
                    <th rowspan="2">Adapter</th>
                    <th colspan="2">kbps</th>
                    <th colspan="2">tps</th>
                    <th colspan="2">bkread</th>
                    <th colspan="2">bkwrtn</th>
                </tr>
                <tr>
                    <th>Max</th>
                    <th>Avg</th>
                    <th>Max</th>
                    <th>Avg</th>
                    <th>Max</th>
                    <th>Avg</th>
                    <th>Max</th>
                    <th>Avg</th>
                </tr>
                {% for item in all_adapter_iostat %}
                <tr>
                    <td align="center">{{ item['adapter'] }}</td>
                    <td align="center">{{ item['max_adp_kbps'] }}</td>
                    <td align="center">{{ item['avg_adp_kbps'] }}</td>
                    <td align="center">{{ item['max_adp_tps'] }}</td>
                    <td align="center">{{ item['avg_adp_tps'] }}</td>
                    <td align="center">{{ item['max_bkread'] }}</td>
                    <td align="center">{{ item['avg_bkread'] }}</td>
                    <td align="center">{{ item['max_bkwrtn'] }}</td>
                    <td align="center">{{ item['avg_bkwrtn'] }}</td>
                </tr>
                {% endfor %}
            </table>
        <h2>System Rootvg Check</h2>
            <p>The system rootvg information is follow:</p>
            <table border="1" width="650">
                <tr>
                    <th align="center">Item</th>
                    <th align="center">Value</th>
                    <th align="center">Remarks</th>
                </tr>
                {% for item in rootvg_list %}
                <tr>
                    <td align="left">{{ item['item'] }}</td>
                    <td align="center">{{ item['value']}}</td>
                    <td align="left">{{ item['remarks'] }}</td>
                </tr>
                {% endfor %}
            </table>
        <h2>File System Check</h2> 
            <h3>Check the filesystem usage rate</h3>
                <p>{{ high_fs_result }}</p>
            <h3>Check unmount filesystems of rootvg</h3>
                <p>{{ unmount_result }}</p>
        <h2>Check System Fix And Lpp Filesets</h2>
            <h3>Check the AIX system fix filesets</h3>
                <p>{{ fixck_result }}</p>
            <h3>Check the AIX system lpp filesets</h3>
                <p>{{ lppck_result }}</p>
        <h2>Check The System Device</h2>
            <h3>The system hdisk information</h3>
            <p>The hdisk information is follow:</p>
            <table width="700" border="1">
                <tr>
                    <th>Hdisk</th>
                    <th>Status</th>
                    <th>VG</th>
                    <th>ALGO</th>
                    <th>HC_interval</th>
                    <th>HC_mode</th>
                    <th>Reserve</th>
                    <th>PCM</th>
                </tr>
                {% for item in all_hdisk_info %}
                <tr>
                    <td align="center">{{ item['hdisk'] }}</td>
                    <td align="center">{{ item['hdisk_status'] }}</td>
                    <td align="center">{{ item['hdisk_vg'] }}</td>
                    <td align="center">{{ item['hdisk_algorithm'] }}</td>
                    <td align="center">{{ item['hdisk_hcheck'] }}</td>
                    <td align="center">{{ item['hdisk_hcmode'] }}</td>
                    <td align="center">{{ item['hdisk_reserve'] }}</td>
                    <td align="center">{{ item['hdisk_pcm'] }}</td>
                </tr>
                {% endfor %}
            </table>
            <p>The hdisk attribute description is follow:</p>
            <p>{{ hdisk_note }}</p>
            <h3>The system adapter information</h3>
            <p>The adapter status information is follow:</p>
            <p>{{ adapter_abnormal_result }}</p>
            <p>The vscsi and fscsi information is follow:</p>
            <table width="700" border="1">
                <tr>
                    <th>Adapter</th>
                    <th>Status</th>
                    <th>vscsi_err_recov</th>
                    <th>attach</th>
                    <th>dyntrk</th>
                    <th>fc_err_recov</th>
                </tr>
                {% for item in all_scsi_fc_info %}
                <tr>
                    <td align="center">{{ item['name'] }}</td>
                    <td align="center">{{ item['status'] }}</td>
                    <td align="center">{{ item['vscsi_err_recov'] }}</td>
                    <td align="center">{{ item['attach'] }}</td>
                    <td align="center">{{ item['dyntrk'] }}</td>
                    <td align="center">{{ item['fc_err_recov'] }}</td>
                </tr>
                {% endfor %}
            </table>
        <h2>Check The Device Path</h2>
            <p>The device path information is follow:</p>
    </body>
</html>
