<!DOCTYPE html>
<head>
    <title>{{ hostname }} Check Report</title>
    <style type="text/css">
    h1 {
        font-size: 200%;
        text-align: center;
        color: green;
        }
    h2 {
        font-size: 150%;
        color: blue;
        }
    h3 {
        font-size: 100%;
        color: #CC33FF;
        }
    p {font-size: 100%}
    body {  
        margin: 0 auto;
        width: 756px;
        height: 1086px;
        }
    </style>
</head>
    <body>
        <style tpye="info/css">
        .infotable{
            width:400px;
            height:100px;
        }
        </style>
        <h1>AIX System Health Check Report</h1>
            <p align="center">Host Name:{{ hostname }}</p>
        <h2>System Information</h2>
            <p>The system information is follow:</p>
        <table class="infotable" border="1">
            {% for item in items %}
            <tr>
                <td>{{ loop.index }}</td>
                <td align="left">{{ item['title'] }}</td>
                <td align="left">{{ item['value'] }}</td>
            </tr>
            {% endfor %}
        </table>
        <h2>System Error Check</h2> 
            <h3>System Hardware Error Event</h3> 
                {% for hwerr in hwerr_result %}
                    <p>{{ hwerr }}</p>
                {% endfor %}
            <h3>System Software Error Event</h2> 
                {% for swerr in swerr_result %}
                    <p>{{ swerr }}</p>
                {% endfor %}
            <h3>System Errlogger Event</h2> 
                {% for loggererr in loggererr_result %}
                    <p>{{ loggererr }}</p>
                {% endfor %}
            <h3>System Unknown Error Event</h2> 
                {% for unknownerr in unknownerr_result %}
                    <p>{{ unknownerr }}</p>
                {% endfor %}
        <h2>System Performance Check</h2>
            <h3>CPU Performance</h3>
            <table border="1" width="650">
                <tr>
                    <td align="center">Item</td>
                    <td align="center">Max(%)</td>
                    <td align="center">Min(%)</td>
                    <td align="center">Avg(%)</td>
                    <td align="center">State Analysis</td>
                </tr>
                {% for item in cpuperf_list %}
                <tr>
                    <td align="center">{{ item['name'] }}</td>
                    <td align="center">{{ item['max'] }}</td>
                    <td align="center">{{ item['min'] }}</td>
                    <td align="center">{{ item['avg'] }}</td>
                    <td align="left">{{ item['state'] }}</td>
                </tr>
                {% endfor %}
            </table>
            <h3>Memory And PS Check</h3>
            <table class="infotable" border="1" >
                {% for item in mem_ps_list %}
                <tr>
                    <td align="center">{{ item['name'] }}</td>
                    <td align="center">{{ item['size'] }}</td>
                    <td align="center">{{ item['inuse'] }}</td>
                    <td align="center">{{ item['used'] }}</td>
                    <td align="center">{{ item['active'] }}</td>
                    <td align="center">{{ item['auto'] }}</td>
                </tr>
                {% endfor %}
            </table>
                {% for item in mem_description %}
                <p>{{ item }}</p>
                {% endfor %}
        <h2>System Rootvg Check</h2>
            <p>The system rootvg information is follow:</p>
            <table border="1" width="650">
                <tr>
                    <td align="center">Item</td>
                    <td align="center">Value</td>
                    <td align="center">Remarks</td>
                </tr>
                {% for item in rootvg_list %}
                <tr>
                    <td align="left">{{ item['item'] }}</td>
                    <td align="center">{{ item['value']}}</td>
                    <td align="left">{{ item['remarks'] }}</td>
                </tr>
                {% endfor %}
            </table>
        <h2>File System Check</h2> 
            <h3>Check the filesystem usage rate</h3>
                <p>{{ high_fs_result }}</p>
            <h3>Check unmount filesystems of rootvg</h3>
                <p>{{ unmount_result }}</p>
        <h2>Check System Fix And Lpp Filesets</h2>
            <h3>Check the AIX system fix filesets</h3>
                <p>{{ fixck_result }}</p>
            <h3>Check the AIX system lpp filesets</h3>
                <p>{{ lppck_result }}</p>
        <h2>Check The System Disk</h2>
            <p>The disk info is follow:</p>
    </body>
</html>
